
.newsEventSummary {
	padding-bottom : 10px;
}
a.applyNowLink {
	background-position : left top;
}
a.scheduleVisitLink {
	background-position : left -50px;
}
a.requestInformationLink {
	background-position : left -100px;
}
a.followUsLink {
	background-position : left -150px;
}
.rightAlign {
	display : inline;
	float : right;
	margin : 0;
	padding : 0;
}
a.readMore {
	background-image : url(/sebin/o/o/read_more_link.gif);
	background-position : left center;
	background-repeat : no-repeat;
	color : #3c6a79;
	display : inline-block;
	padding : 6px 4px 4px 30px;
}
img.highlightPhotoLeft {
	display : inline;
	float : left;
	margin : 4px 8px 4px 4px;
	padding : 0;
}
img.highlightPhotoRight {
	margin : 4px 4px 4px 8px;
	padding : 0;
	display : inline;
	float : right;
}
a.updateProfileActionLink {
	background-position : -947px 0px;
}
a.requestInformationActionLink {
	background-position : -471px 0px;
}
a.scheduleVisitActionLink {
	background-position : -233px 0px;
}
a.locateAlumniActionLink {
	background-position : -1185px 0px;
}
a.followUsActionLink {
	background-position : -709px 0px;
}
a.applyNowActionLink {
	background-position : 5px 0px;
}
h1, h2, h3, h4, h5, h6 {
	font-size : 100%;
	font-family : Georgia, "Times New Roman", Times, serif;
	font-weight : normal;
}
h1 {
	font-size : 20px;
}
h2 {
	font-size : 16px;
}
h3 {
	font-size : 14px;
}
h4 {
	font-size : 12px;
}
h5 {
	font-size : 11px;
	font-weight : bold;
}
h6 {
	font-size : 11px;
	font-weight : bold;
	font-style : italic;
}
a {
	color : #3C6A79;
	text-decoration : none;
}
a:hover {
	text-decoration : underline;
}
a.contentArchiveTitles {
	font-weight : bold;
}
div.newsEventSummary {
	padding-bottom : 10px;
}
.buttonAlignLeft {
	background : url("../images/class_button_bg.png") no-repeat scroll 0 0 transparent;
	padding : 7px;
	color : #000;
	font-size : 1em;
	font-weight : bold;
	display : inline-block;
	width : 164px;
	height : 14px;
	text-align : center;
}
.button {
	background : url("../images/class_button_bg.png") no-repeat scroll 0 0 transparent;
	padding : 6px;
	color : #000;
	display : block;
	font-size : 13px;
	font-weight : bold;
	width : 164px;
	height : 14px;
	text-align : left;
	float:left;

}
.bodyContent #leftColumn {
	width : 350px;
	float : left;
	padding-right : 20px;
}
.bodyContent #rightColumn {
	width : 350px;
	margin-left : 370px;
}
.borderedImage {
	background-color : #fff;
	border : 2px solid #eaeaea;
	padding : 10px;
}
div.nameSearch a {
	border : 1px solid #CCC;
	padding : 2px 4px;
	margin : 0 5px 0  0;
}
div.nameSearch {
	margin : 10px 0 20px;
}
div.SEProfileDirectoryModule label {
	position : relative;
	float : left;
	width : 100px;
}
div.SEProfileDirectoryModule input {
	margin-bottom : 4px;
}
div.SEProfileDirectoryModule .button {
	height : 30px;
}
div.SEProfileDirectoryModule ol li {
	list-style : none;
}
div.SEProfileDirectoryModule ol {
	padding : 0 !important;
	margin : 0 !important;
}
div.SEProfileDirectoryModule .basicInfo {
	margin-bottom : 20px;
	font-size : 16px;
}
div.SEProfileDirectoryModule h6 {
	margin-top : 10px;
	color : #7E6825;
	font-size : 12px;
	font-style : normal;
}
.borderImageInline {
	background : #fff;
	border : 2px solid #eaeaea;
	padding : 10px;
	display : inline-block;
}
.extraRowPadding {
}
.newsLink {
}
td.newsLink {
	display : none;
}
#SearchForm .button {
	background : none repeat scroll 0 0 transparent;
	display : inline;
	padding : 0px;
}
.extraRowPadding th {
	padding-bottom : 3px;
	padding-top : 3px;
}
.sitemapheader {
	font-family : Georgia, "Times New Roman", Times, serif;
	font-weight : normal;
	font-size : 14px;
}
#sitemap {
	border-bottom : 1px solid #CCCCCC;
	padding-bottom : 5px;
}
#sitemap table {
	margin-bottom : 5px;
	border-top : 1px dotted #CCCCCC;
}
#sitemap a {
	line-height : 20px;
}
.SEEventLeft {
	margin-left : 10px;
	width : 240px;
}
.expansion {
	cursor : pointer;
}
.bodyContent #leftColumnNarrow {
	width : 255px;
	padding-right : 20px;
	float : left;
}
.bodyContent #rightColumnNarrow {
	width : 255px;
	margin-left : 275px;
}
.FeaturedH2 {
	font-size : 18px;
	font-family : Georgia, "Times New Roman", Times, serif;
	font-weight : normal;
	color : #7E6805;
}
.SECalendarProperty p {
	width : 100px;
}
.evenUp {
	float : left;
	margin-left : 0px;
}
