body {
margin:0;
padding:0;
background-position: center top;
}


					
			#banner img {
			float: left; /* added 03-26-12 for multi-image banner */
			max-width: 972px;
			}
		
			#banner {
			clear:both;
			max-width: 1000px;
			margin:0 auto;
			padding:0;
			}
			

		
				#banner table tbody tr td { /* allows for centered text input/overlay for banners */
				padding: 10px;
				vertical-align: bottom;
				}
				
				#banner p, #banner span{
				margin: 0;
				padding:0;
				}
				
